@page "/stadiums"
@using LiteBus.Commands.Abstractions
@using LiteBus.Queries.Abstractions

@using PremierLeagueApp.Application.Features.Stadiums.Commands.CreateStadium
@using PremierLeagueApp.Application.Features.Stadiums.Commands.DeleteStadium
@using PremierLeagueApp.Application.Features.Stadiums.Queries.GetAllStadiums

@inject IQueryMediator QueryMediator
@inject ICommandMediator CommandMediator

@rendermode InteractiveServer

<h3>Stadiums of the Premier League</h3>

@if (stadiums == null)
{
    <p><em>Loading...</em></p>
} 
else if (!stadiums.Any())
{
    <p>No stadiums found.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Capacity</th>
                <th>Built year</th>
                <th>Pitch Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stadium in stadiums)
            {
                <tr>
                    <td>@stadium.Name</td>
                    <td>@stadium.City</td>
                    <td>@stadium.Capacity.ToString("N0")</td>
                    <td>@stadium.BuiltYear</td>
                    <td>@stadium.PitchLength x @stadium.PitchWidth м</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteStadium(stadium.Id)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h4>Add new Stadium</h4>

<EditForm Model="newStadium" OnValidSubmit="HandleValidSubmit" FormName="CreateStadiumForm">
    <DataAnnotationsValidator />
    
    <div class="mb-3">
        <label class="form-label">Name:</label>
        <InputText class="form-control" @bind-Value="newStadium.Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">City:</label>
        <InputText class="form-control" @bind-Value="newStadium.City" />
    </div>
    <div class="mb-3">
        <label class="form-label">Capacity:</label>
        <InputNumber class="form-control" @bind-Value="newStadium.Capacity" />
    </div>
    <div class="mb-3">
        <label class="form-label">Built Year:</label>
        <InputNumber class="form-control" @bind-Value="newStadium.BuiltYear" />
    </div>
    <div class="mb-3">
        <label class="form-label">Pitch Length (m):</label>
        <InputNumber class="form-control" @bind-Value="newStadium.PitchLength" />
    </div>
    <div class="mb-3">
        <label class="form-label">Pitch Width (m):</label>
        <InputNumber class="form-control" @bind-Value="newStadium.PitchWidth" />
    </div>

    <button type="submit" class="btn btn-primary">Create Stadim</button>
</EditForm>

@code {
    private IEnumerable<GetAllStadiumsDto>? stadiums;

    private CreateStadiumCommand newStadium = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadStadiums();
    }

    private async Task LoadStadiums()
    {
        stadiums = await QueryMediator.QueryAsync(new GetAllStadiumsQuery());
    }

    private async Task HandleValidSubmit()
    {
        await CommandMediator.SendAsync(newStadium);

        newStadium = new CreateStadiumCommand();

        await LoadStadiums();
    }

    private async Task DeleteStadium(Guid stadiumId)
    {
        await CommandMediator.SendAsync(new DeleteStadiumCommand(stadiumId));

        await LoadStadiums();
    }
}